@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600;700&display=swap');

/*Variables para los colores*/
:root{
    --color-azul-oscuro: rgb(1, 1, 22);
    --color-azul: rgb(60, 71, 103);
    --color-azul-claro: rgb(85, 97, 135);
    --color-gris: rgb(135, 135, 143);
    --color-naranja-claro: rgb(236, 141, 85);
    --color-naranja: rgb(212, 100, 34);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body{
    background: var(--color-azul-oscuro);
}

/*INFORMACION PRINCIPAL*/

#contenedorInfoPrincipal{
    background-image: url(../imagenes/imagenMarte1.jpg);
    height: calc(100vh - 90px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#infoPrincipal{
    position: absolute;
    width: 250px;
    height: 150px;
    margin-top: 350px;
    margin-left: 80px;
}

.valorTemperatura{
    color: rgb(255, 255, 255);
    font-size: 70px;
    font-weight: 600;
}

#valorDiaSolar{
    color: rgb(255, 255, 255);
    font-size: 30px;
    margin-top: 20px;
    margin-left: 60px;
}

#lugar{
    position: absolute;
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 25px;
    margin-left: calc(100% - 200px);
    text-decoration: none;
}

/*INFORMACIÓN SECUNDARIA*/

#contenedorInfoSecundaria{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    flex-grow: wrap;
}

.infoSecundaria{
    height: 400px;
    width: 60%;
    margin: 20px;
    background-color: rgb(17, 23, 36);
    text-align: center;
    border-radius: 5%;
    transition: 0.2s;
}

.infoSecundaria:hover{
    transform: scale(1.02);
    background-color: var(--color-azul);
}

.tituloInfo{
    color: var(--color-naranja-claro);
    font-size: 30px;
    margin-top: 20px;
    opacity: 1;
}

.iconosInformacion{
    margin-top: 50px;
    height: 30%;
}

.dato{
    color: rgb(255, 255, 255);
    font-size: 20px;
    margin-top: 10px;
}

.datoSuperior{
    margin-top: 20px;
}

/*INFORMACION DE INTERES*/
.contenedorTermino{
    margin: 50px;
    background-color: rgb(17, 23, 36);
}

.termino{
    color: var(--color-naranja-claro);
    font-size: 30px;
    font-weight: bold;
    padding: 20px;
}

.definicion{
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 35px;
    padding: 20px;
}

/* Responsive para cambios de tamaño de ventana en Computadora */
@media screen and (min-width: 700px){

    #contenedorInfoSecundaria{
        flex-direction: row;
    }

    .infoSecundaria{
        width: 400px;
        height: 400px;
    }

}

/*Responsive para pantalla de celular */
@media screen and (max-device-width: 768px){

    /*INFORMACION PRINCIPAL*/
    #infoPrincipal{
        width: 400px;
        margin-top: calc(100% - 400px);
        margin-left: calc(100% - 670px);
    }

    .valorTemperatura{
        font-size: 100px;
    }

    #valorDiaSolar{
        font-size: 60px;
    }
    
    #lugar{
        font-size: 50px;
        margin-top: 40px;
        margin-left: calc(100% - 250px);
    }

    /*INFORMACION SECUNDARIA*/
    #contenedorInfoSecundaria{
        flex-direction: column;
    }

    .infoSecundaria{
        width: 90%;
    }

    .tituloInfo{
        font-size: 40px;
        margin-top: 30px;
    }

    .dato{
        font-size: 40px;
    }

    .datoSuperior{
        margin-top: 0;
    }

    .iconosInformacion{
        margin-top: 30px;
        margin-bottom: 30px;
        height: 15%;
    }

}